# Rules in this file were initially inferred by Visual Studio IntelliCode from the E:\UPWORK\RFI Technology Solutions\Samwontech-TEMP2xxx\vs\Samwontech-TEMP2xxx codebase based on best match to current usage at 2/8/2021
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

